<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983540089122-t2hsgq704go3bo0s2djjtk6k22i8t2oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983540089122-t2hsgq704go3bo0s2djjtk6k22i8t2oq</string>
	<key>API_KEY</key>
	<string>AIzaSyDlJcjrDSYRmL861fJ8vutX-devxZsrnAU</string>
	<key>GCM_SENDER_ID</key>
	<string>983540089122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isac.feedmap</string>
	<key>PROJECT_ID</key>
	<string>feedmap-a5a1b</string>
	<key>STORAGE_BUCKET</key>
	<string>feedmap-a5a1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983540089122:ios:e3c492bbade96a7766e57b</string>
</dict>
</plist>